<div class="about-page">
  <h3 class="about-title">About This Events Application</h3>

  <p class="about-paragraph">This is an event management application where members can create events, send invites to other members, manage their event's attendees, and attend other events.
  <br/>
  This application was created as part of the Microverse Fast Track Program bootcamp. The assignment deliverables can be found here at
  <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">The Odin Project</a>.
  <br/>
  You can read more about the project and view its source code at its
  <a href="https://github.com/PolarisTLX/private-events">repository</a>.
  </p>
</div>
