<div class="contact-page">
  <h3 class="contact-title">Contact Me</h3>

  <p class="contact-paragraph">My name is Paul Rail.
  <br/>
  Please visit my <a href="https://polaristlx.github.io/professional-portfolio/">portfolio website</a> for more examples of my work and links to my social media pages.
  </p>
</div>
