<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>

  <br/>

  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to "Edit Your Profile", edit_user_path(@user) if @user == current_user %>
