/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  /* background-color: rgb(35,35,35); */
  background: url("dark-grey-paper2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  color: rgb(120,120,120);
  font-family: 'Calligraffitti', cursive;
  /* display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto; */
  letter-spacing: 2;
  display: grid;
  grid-template-columns: repeat(4, 21.5%) 14%;
  grid-template-rows: auto;
}

/* overiding default highlight of selected text */
::selection {
  background: rgb(255,255,255); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(255,255,255); /* Gecko Browsers */
}
.top-corner {
  grid-area: 1 / 5 / 2 / 6 ;
  width: 100%;
  /* background-color: rgba(35,35,35,1); */
  background-color: rgba(120, 120, 120, 1);
}
.pagetop {
  display: inline;
  grid-area: 1 / 1 / 2 / 5 ;
  height: 6vh;
  /* width: 100%; */
  /* background-color: rgba(35,35,35,1); */
  background-color: rgba(120,120,120,1);
  margin: 0;
  font-size: 3.5vh;
  color: rgba(35,35,35,1);
  padding: 1vh 0 1vh 5vh;
  border-bottom: 2px solid rgba(120, 120, 120, 1);
  /* border-style: groove; */
}
.user-logo {
  /* display: inline; */
  height: 5vh;
  /* padding-top: 1vh; */
}
.user-name {
  display: inline;
  font-weight: bold;
  color: rgb(51,139,213);
}
.toplinks {
  line-height: 5vh;
  vertical-align: middle;
  display: inline;
}
.toplinks a {
  padding-left: 2vh;
  color: rgba(35,35,35,1) !important;
}

.navlinks {
  grid-area: 2 / 5 / 100 / 6 ;
  /* background-color: rgb(35,35,35); */
  background-color: rgba(120, 120, 120, 1);
  margin: 0;
  padding: 33vh 0;
  text-align: right;
  /* padding-bottom: 3vh;; */
  font-size: 3vh;
  border-left: 5px double rgba(120, 120, 120, 1);
  /* overflow-y: hidden; */
}

.navlinks a {
  display: block;
  line-height: 1.75;
  font-size: 3vh;
  margin: 0 3vw;
  text-decoration: none;
  text-align: right;
  color: rgb(35,35,35) !important;
}
/* .navlinks a:hover {
color: rgb(51,139,213);
} */
p, h1, h2, h3, h4, h5, h6, form, form input, a, li {
  font-weight: bold;
  color: rgb(120,120,120);
}

h1 {
  font-size: 4vh;
}

h2, h3 {
   border-bottom: 1px solid rgb(120,120,120);
}

h2 {
  text-align: center;
  margin-bottom: 5vh;
}

p, li {
  font-size: 2.5vh;
}

/* strong {
  font-weight: bolder;
} */

a {
  text-decoration: none;
}
a:visited {
  color: rgb(120,120,120)
}

a:hover {
  color: rgb(51,139,213);
  /* background-color: rgb(51,139,213); */
}

/* Change autocomplete styles in WebKit */

form {
  font-size: 2.5vh;
  text-align: right;
}
.input-label {
  /* transform: translateX(-20vw); */
  margin-right: 1vw;
}

form input {
  font-family: 'Calligraffitti', cursive;
  color: rgb(120,120,120);
  font-size: 2.5vh;
}

form input:focus {
  outline: none;
}

textarea {
  font-family: 'Calligraffitti', cursive;
  color: rgb(120,120,120);
  font-size: 2.5vh;
  font-weight: bold;
  border-right: 1px solid rgb(120,120,120) !important;
}


textarea:focus {
  outline-color: rgb(120,120,120)
}

form input[type=text], input[type=password], textarea, input[type=date] {
  /* font-weight: bold; */
  background-color: rgb(35,35,35);
  border: none;
  border-bottom: 1px solid rgb(120,120,120);
}

form input[type=submit] {
  background-color: rgb(35,35,35);
  border: none;
  border-top: 2px solid rgb(120,120,120);
  border-left: 2px solid rgb(120,120,120);
}

form input[type=submit]:hover {
  /* background-color: rgb(120,120,120); */
  /* color: rgb(35,35,35); */
  border: none;
  border-bottom: 3px solid rgb(120,120,120);
  border-right: 3px solid rgb(120,120,120);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: rgb(35,35,35);
  -webkit-text-fill-color: rgb(120,120,120);
}
 /*

 background-color:  dark-grey:     rgb(35,35,35);
 font- primary color:  light-grey: rgb(120,120,120);

 blue: rgb(51,139,213)
 dark blue: rgb(45,31,147)
 grey: rgb(65,65,65)
 dark grey: rgb(46,46,46)
 black: rgb(27,27,27)
 dark red: rgb(64,0,0)
 red: rgb(128,0,0) */
