/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(35,35,35);
  color: rgb(120,120,120);
  font-family: 'Calligraffitti', cursive;
  /* display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto; */
  letter-spacing: 2;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
}

/* overiding default highlight of selected text */
::selection {
  background: rgb(255,255,255); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgb(255,255,255); /* Gecko Browsers */
}

.navlinks {
  text-align: center;
  padding-bottom: 3vw;;
}
.navlinks a {
  font-size: 3vw;
  margin: 0 4vw;
  text-decoration: none;
}
/* .navlinks a:hover {
color: rgb(51,139,213);
} */
p, h1, h2, h3, h4, h5, h6, form, form input, a {
  font-weight: bold;
  color: rgb(120,120,120);
}
h1 {
  font-size: 4vw;
}


p {

  font-size: 1.5vw;
}

/* strong {
  font-weight: bolder;
} */

a {
  text-decoration: none;
}
a:visited {
  color: rgb(120,120,120)
}

a:hover {
  color: rgb(51,139,213);
  /* background-color: rgb(51,139,213); */
}

/* Change autocomplete styles in WebKit */

form {
  font-size: 1.5vw;
  text-align: right;
}
.input-label {
  /* transform: translateX(-20vw); */
  margin-right: 1vw;
}

form input {
  font-family: 'Calligraffitti', cursive;
  color: rgb(120,120,120);
  font-size: 1.5vw;
}

form input:focus {
  outline: none;
}

textarea {
  font-family: 'Calligraffitti', cursive;
  color: rgb(120,120,120);
}

textarea:focus {
  outline-color: rgb(120,120,120)
}

form input[type=text], input[type=password], textarea, input[type=date] {
  /* font-weight: bold; */
  background-color: rgb(35,35,35);
  border: none;
  border-bottom: 1px solid rgb(120,120,120);
}

form input[type=submit] {
  background-color: rgb(35,35,35);
  border: none;
  border-top: 2px solid rgb(120,120,120);
  border-left: 2px solid rgb(120,120,120);
}

form input[type=submit]:hover {
  /* background-color: rgb(120,120,120); */
  /* color: rgb(35,35,35); */
  border: none;
  border-bottom: 3px solid rgb(120,120,120);
  border-right: 3px solid rgb(120,120,120);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: rgb(35,35,35);
  -webkit-text-fill-color: rgb(120,120,120);
}
 /*

 background-color:  dark-grey:     rgb(35,35,35);
 font- primary color:  light-grey: rgb(120,120,120);

 blue: rgb(51,139,213)
 dark blue: rgb(45,31,147)
 grey: rgb(65,65,65)
 dark grey: rgb(46,46,46)
 black: rgb(27,27,27)
 dark red: rgb(64,0,0)
 red: rgb(128,0,0) */
