// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "navlinks navlinks"
    "login login"
}

.login {
  grid-area: login;
  padding-left: 20vw;
}

.navlinks {
  grid-area: navlinks;
}

form input[type=text], input[type=password] {
  background-color: rgb(35,35,35);
  border: none;
  border-bottom: 1px solid rgb(120,120,120);
}

form input {
  color: rgb(120,120,120);
}

form input:focus {
  outline: none;
}

form input[type=submit]{
  background-color: rgb(35,35,35);
  border: none;
  border-top: 2px solid rgb(120,120,120);
  border-left: 2px solid rgb(120,120,120);
}

form input[type=submit]:hover{
  // background-color: rgb(120,120,120);
  // color: rgb(35,35,35);
  border: none;
  border-bottom: 3px solid rgb(120,120,120);
  border-right: 3px solid rgb(120,120,120);
}

.remember {
    width: 120px;
    height: 40px;
    background: #333;
    margin: 20px 60px;

    border-radius: 50px;
    position: relative;
}

.remember:before {
    content: 'On';
    position: absolute;
    top: 12px;
    left: 13px;
    height: 2px;
    color: #26ca28;
    font-size: 16px;
}

.remember:after {
    content: 'Off';
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: #111;
    font-size: 16px;
}

.remember label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #ddd;
}

.remember input[type=checkbox]:checked + label {
    left: 60px;
    background: #26ca28;
}
