// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

  grid-template-areas:
    "navlinks navlinks navlinks navlinks"
    "title title title title"
    "login login empty empty"
}

.title {
  grid-area: title;
  text-align: center;
}

.login {
  grid-area: login;
  padding-left: 20vw;
}

.navlinks {
  grid-area: navlinks;
}


/* first hide the standard checkbox */
input[type=checkbox] {
  visibility: hidden;
}

// form span {
//   display: inline;
// }

.remember-me-div {
    width: 9vw;
    height: 3vw;
    background: rgb(35, 35, 35);
    margin: 1.5vw 4.5vw;
    border: none;
    border-right: solid 1px rgb(120, 120, 120);
    border-bottom: solid 1px rgb(120, 120, 120);
    border-radius: 4vw;
    /* border-color: rgb(120, 120, 120); */
    position: relative;
    transform: translate(5vw, -4.5vw);
}

.remember-me-div:before {
  content: 'Oui';
  position: absolute;
  top: .9vw;
  left: .9vw;
  height: .15vw;
  color: rgb(120, 120, 120);
  font-size: 1.25vw;
}

.remember-me-div:after {
    content: 'Non';
    position: absolute;
    top: .9vw;
    left: 6.3vw;
    height: .15vw;
    color: rgb(120, 120, 120);
    font-size: 1.25vw;
}

/* The pill that rests on top to click */
.remember-me-div label {
  display: block;
  width: 4vw;
  height: 1.65vw;
  // height: 1.65vw;
  border-radius: 4vw;

  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: .7vw;
  z-index: 1;
  left: .9vw;
  background: rgb(120, 120, 120);
}

/* checkbox event for the label: */
.remember-me-div input[type=checkbox]:checked + label {
  left: 4.5vw;
  background: rgb(120, 120, 120);
}

/* not working CSS4 */
// .remember-me-div input[type=checkbox]:checked {
//   border: none;
//   border-left: solid 1px red;
//   border-top: solid 1px rgb(120, 120, 120);
// }
