// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .signup-page {
//   grid-area: 2 / 2 / 3 / 4;
// }
.title {
  grid-area: 2 / 1 / 3 / 5;
  text-align: center;
  margin-top: 5vw;
}
.signup-form {
  grid-area: 3 / 1 / 4 / 4;
  margin-top: 5vw;
  margin-right: 10vw;
}

.navlinks {
  // grid-area: 1 / 1 / 2 / 5;
}

.user-info {
  grid-area: 2 / 4 / 3 / 5;
}

.users-index {
  grid-area: 2 / 2 / 3 / 4;
}

.users-index h2 {
  font-size: 3.5vw;
}

.user-index-logo {
  height: 12vh;
  display: inline;
  float: left;
  padding-right: 2vw;
}

.index-info {
  // display: inline; display inline shortens the border-bottom to fit the element
}


.invites, .upcoming-events, .past-events {
  margin-left: 1vw;
}
.invites p, .upcoming-events p, .past-events p {
  margin-left: 1vw;
}
.invites h4, .upcoming-events h4, .past-events h4 {
  // color: white !important;
  font-size: 2.5vh;
  margin-left: 1vw;
}

.user-info {
  margin-left: 1vw;
  margin-right: 1vw;
}

.invites {
  grid-area: 2 / 1 / 3 / 2;
}
.upcoming-events {
  grid-area: 2 / 2 / 3 / 3;
}
.past-events {
  grid-area: 2 / 3 / 3 / 4;
}

.hosted-events {
  display: none;
}


#user-error-explanation {
  margin-right: -12vw;
  margin-left: 20vw;
  margin-top: -5vw;
  font-size: 2vh;
}

#user-error-explanation li, #user-error-explanation h2 {
  color: rgb(255,0,0) !important;
}

#user-error-explanation li {
  margin-left: 8vw;
}
